.charts {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-wrapper {
    margin-top: 100px;
    width: 100%;
}

.charts-title {
    margin-top: 100px;
}

.confirmed {
    background-color: #331427;
    padding: 20px;
    border-radius: 15px;
    margin-top: 50px;
    width: 100%;
}

.active {
    background-color: #132240;
    padding: 20px;
    border-radius: 15px;
    margin-top: 50px;
    width: 100%;
}

.recovered {
    background-color: #182829;
    padding: 20px;
    border-radius: 15px;
    margin-top: 50px;
    width: 100%;
}

.tested {
    background-color: #230F41;
    padding: 20px;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 100%;
}

.deceased {
    background-color: #1C1C2B;
    padding: 20px;
    border-radius: 15px;
    margin-top: 50px;
    width: 100%;
}

@media screen and (max-width: 560px) {
    .charts {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}